/* =============================================================================
   EDITOR MODULE 03: BLOCKS, POSTS & WOOCOMMERCE EDITOR
   ============================================================================= */

/*Blog Section*/
.wp-block-latest-posts.is-grid li {
  position: relative;
  background: #fff;
  border: solid 1px #eee;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 16%), 0 0 0 0px rgb(0 0 0 / 8%);
  margin-bottom: 30px;
}
.wp-block-latest-posts.is-grid.columns-3 li {
  width: calc(33.33333% - 1.5em);
}
.blog-section .wp-block-latest-posts.is-grid li {
  box-shadow: none;
}
.wp-block-latest-posts.is-grid li img {
  width: 100%;
}
.wp-block-latest-posts.is-grid li:nth-child(3n) {
  margin-right: 0px;
}
.index-section .wp-block-latest-posts.is-grid li:nth-child(3n){
  margin-right: 12px;
}
.wp-block-latest-posts.is-grid li a {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  padding: 0 10px;
  text-transform: capitalize;
  text-decoration: none;
  display: block;
  margin:  20px 0 0;
  line-height: 35px;
}
.wp-block-latest-posts.is-grid li time.wp-block-latest-posts__post-date{
  display: inline-block;
  background: var(--wp--preset--color--primary);
  padding: 8px 8px;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
  margin: 10px 0px 5px 10px;
}
.wp-block-latest-posts.is-grid li .wp-block-latest-posts__post-excerpt {
  color: #6b6b6b;
  padding: 0 10px;
  font-size: 14px;
  line-height: 25px;
}
.wp-block-latest-posts.is-grid li .wp-block-latest-posts__post-excerpt a {
  display: none;
}
/*taxonomy-product-cat*/
.taxonomy-product-cat .wp-block-query-pagination {
  margin: 80px 0; 
}
.taxonomy-product-cat  .wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
  display: inline-block; 
}
.taxonomy-product-cat .wp-block-query-pagination .page-numbers,
.taxonomy-product-cat .wp-block-query-pagination .wp-block-query-pagination-next,
.taxonomy-product-cat .wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background: var(--wp--preset--color--primary);
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b;
  border-radius: 100px; 
  color: #fff !important;
}
.taxonomy-product-cat .wp-block-query-pagination .page-numbers.current,
.taxonomy-product-cat .wp-block-query-pagination a:hover,
.taxonomy-product-cat .wp-block-query-pagination a:focus,
.taxonomy-product-cat .wp-block-query-pagination a:active {
  background-color: var(--wp--preset--color--primary);
  color: #fff !important; 
}
.taxonomy-product-cat{
  margin-left: 10em;
  margin-right: 10em;
}
.taxonomy-product-cat h3 a{
  color: #000;
  text-decoration: none !important;
}
.taxonomy-product-cat .block-editor-block-list__block li{
  box-shadow: 0 0 15px #0000002b;
  padding: 10px;
}
.taxonomy-product-cat .wp-block-query-pagination{
  margin-top: 30px !important;
}
.taxonomy-product-cat button.wp-block-button__link.wp-element-button.add_to_cart_button.wc-block-components-product-button__button{
  border-radius: 30px;
  color: #fff;
  background-color: var(--wp--preset--color--primary);
  font-size: 18px !important;
  font-weight: 600 !important;
}
.taxonomy-product-cat .wc-block-breadcrumbs a{
  font-size: 16px !important;
  color: #000 !important;
}
.taxonomy-product-cat .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  background: var(--wp--preset--color--primary);
  padding: 10px;
  color: #fff;
  border: none;
}

/*taxonomy-product-tag*/
.taxonomy-product-tag .wp-block-query-pagination {
  margin: 80px 0; 
}
.taxonomy-product-tag  .wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
  display: inline-block; 
}
.taxonomy-product-tag .wp-block-query-pagination .page-numbers,
.taxonomy-product-tag .wp-block-query-pagination .wp-block-query-pagination-next,
.taxonomy-product-tag .wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background: var(--wp--preset--color--primary);
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b;
  border-radius: 100px; 
  color: #fff !important;
}
.taxonomy-product-tag .wp-block-query-pagination .page-numbers.current,
.taxonomy-product-tag .wp-block-query-pagination a:hover,
.taxonomy-product-tag .wp-block-query-pagination a:focus,
.taxonomy-product-tag .wp-block-query-pagination a:active {
  background-color: var(--wp--preset--color--primary);
  color: #fff !important; 
}
.taxonomy-product-tag{
  margin-left: 10em;
  margin-right: 10em;
}
.taxonomy-product-tag h3 a{
  color: #000;
  text-decoration: none !important;
}
.taxonomy-product-tag .block-editor-block-list__block li{
  box-shadow: 0 0 15px #0000002b;
  padding: 10px;
}
.taxonomy-product-tag .wp-block-query-pagination{
  margin-top: 30px !important;
}
.taxonomy-product-tag button.wp-block-button__link.wp-element-button.add_to_cart_button.wc-block-components-product-button__button{
  border-radius: 30px;
  color: #fff;
  background-color: var(--wp--preset--color--primary);
  font-size: 18px !important;
  font-weight: 600 !important;
}
.taxonomy-product-tag .wc-block-breadcrumbs a{
  font-size: 16px !important;
  color: #000 !important;
}
.taxonomy-product-tag .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  background: var(--wp--preset--color--primary);
  padding: 10px;
  color: #fff;
  border: none;
}

/*single product*/
.single-product-woocommerce .wp-block-query-pagination {
  margin: 80px 0; 
}
.single-product-woocommerce  .wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
  display: inline-block; 
}
.single-product-woocommerce .wp-block-query-pagination .page-numbers,
.single-product-woocommerce .wp-block-query-pagination .wp-block-query-pagination-next,
.single-product-woocommerce .wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background: var(--wp--preset--color--primary);
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b;
  border-radius: 100px; 
  color: #fff !important;
}
.single-product-woocommerce .wp-block-query-pagination .page-numbers.current,
.single-product-woocommerce .wp-block-query-pagination a:hover,
.single-product-woocommerce .wp-block-query-pagination a:focus,
.single-product-woocommerce .wp-block-query-pagination a:active {
  background-color: var(--wp--preset--color--primary);
  color: #fff !important; 
}
.single-product-woocommerce{
  margin-left: 10em;
  margin-right: 10em;
}
.single-product-woocommerce h3 a{
  color: #000;
  text-decoration: none !important;
}
.single-product-woocommerce .block-editor-block-list__block li{
  box-shadow: 0 0 15px #0000002b;
  padding: 10px;
}
.single-product-woocommerce .wp-block-query-pagination{
  margin-top: 30px !important;
}
.single-product-woocommerce button.wp-block-button__link.wp-element-button.add_to_cart_button.wc-block-components-product-button__button{
  border-radius: 30px;
  color: #fff;
  background-color: var(--wp--preset--color--primary);
  font-size: 18px !important;
  font-weight: 600 !important;
}
.single-product-woocommerce .wc-block-breadcrumbs a{
  font-size: 16px !important;
  color: #000 !important;
}
.single-product-woocommerce .wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right {
  background: var(--wp--preset--color--primary);
  padding: 10px;
  color: #fff;
  border: none;
}
/*blog post*/
.has-shadow-dark, .has-no-hover-shadow-dark {
  box-shadow: 0 6px 30px 7px #2125471a;
  transition: 0.5s;
  padding: 50px !important;
  margin-bottom: 30px;
}
p.form-submit.wp-block-button input.wp-block-button__link.wp-element-button{
  padding: 10px 15px;
  background: var(--wp--preset--color--primary);
  border-radius: 30px;
  font-size: 18px !important;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none !important;
  margin-top: 10px;
  margin-bottom: 10px;
}
.navigation .alignleft a, .navigation .alignright a{
  color: #000 !important;
  font-size: 18px !important;
  text-decoration: none !important;
}
.comment-author.vcard a, .comment-metadata a,.comment-metadata a .edit-link, .reply a, .comment-content a{
  color: #000 !important;
  font-size: 16px !important;
  font-weight: 700;
}
p.form-submit.wp-block-button input.wp-block-button__link.wp-element-button:hover{
  background: transparent !important;
  border: 1px solid var(--wp--preset--color--primary);
  color: #000 !important;
}
footer.comment-meta {
  margin-top: 12px;
}
/*Sidebar CSS*/
.theme-sidebar .wp-block-search__button{
  background: var(--wp--preset--color--primary) !important;
}
.theme-sidebar{
  padding: 0 30px !important;
}
.theme-sidebar .wp-block-group {
  padding: 15px ;
  border: 1px solid #eee;
  color: #6b6b6b;
  box-shadow: 0 6px 30px 7px #2125471a;
  transition: 0.5s;
}
.single-post-sidebar-on-right{
  margin-right: 8%;
  margin-left: 8%;
}
/*blog listing*/
.wp-block-query-pagination {
  margin: 80px 0; 
}
.wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
  display: inline-block; 
}
.wp-block-query-pagination .page-numbers,
.wp-block-query-pagination .wp-block-query-pagination-next,
.wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background: var(--wp--preset--color--primary);
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b;
  border-radius: 100px; 
  color: #fff;
}
.wp-block-query-pagination .page-numbers.current,
.wp-block-query-pagination a:hover,
.wp-block-query-pagination a:focus,
.wp-block-query-pagination a:active {
  background-color: var(--wp--preset--color--primary);
  color: #fff;
}
.wp-block-query-pagination .page-numbers, .wp-block-query-pagination .wp-block-query-pagination-next, .wp-block-query-pagination .wp-block-query-pagination-previous {
  padding: 12px 16px;
  background:#fff;
  line-height: 1;
  margin: 0 3px;
  text-decoration: inherit;
  display: inline-block;
  box-shadow: 0 0 15px #0000002b; 
  border-radius: 100px;
  color: #000;
}
