<!-- wp:template-part {"slug":"header","theme":"vw-modern-ecommerce","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"patternName":"vw-modern-ecommerce/home-banner","name":"Home Banner","categories":["vw-modern-ecommerce-home-banner"]},"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"},"anchor":"primary"} -->
<main id="primary" class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:pattern {"slug":"vw-modern-ecommerce/home-banner"} /--></main>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"vw-modern-ecommerce/products-section"} /-->
<!-- wp:pattern {"slug":"vw-modern-ecommerce/about-us-section"} /-->
<!-- wp:pattern {"slug":"vw-modern-ecommerce/testimonial-section"} /-->
<!-- wp:pattern {"slug":"vw-modern-ecommerce/news-section"} /-->
<!-- wp:pattern {"slug":"vw-modern-ecommerce/faq-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"vw-modern-ecommerce","tagName":"footer"} /-->