<!-- wp:template-part {"slug":"header","theme":"vw-modern-ecommerce","tagName":"header"} /-->
<!-- wp:pattern {"slug":"vw-modern-ecommerce/cover-with-search-title"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0px","bottom":"0px","left":"0px","right":"0px"}}},"layout":{"inherit":true,"type":"constrained","contentSize":"80%"}} -->
<main id="primary" class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px">

<!-- wp:pattern {"slug":"vw-modern-ecommerce/search"} /-->

</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"vw-modern-ecommerce","tagName":"footer"} /-->